$gradient: linear-gradient(180deg, #72EBAE 0%, #39D036 100%); 
$gradient-2: linear-gradient(180deg, #656565 0%, #262626 100%);
$btn-bg: $gradient;
$btn-bg-2: $gradient-2;
$btn-color: #FFFFFF;
$black: #232323;
$gray: #747474;