.cases{
    background: #F9F9F9;
    padding: 100px 0;
    @include media(576){
        padding: 50px 0;
    }
    &__title{
        font-weight: bold;
        font-size: 34px;
        line-height: 130%;
        text-align: center;
        color: #232323;        
        margin-bottom: 15px;
        @include media(576){
            font-weight: bold;
            font-size: 24px;
            line-height: 130%;
            text-align: center;
            color: #232323;
        }
    }
    &__row{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        @include media(768){
            flex-direction: column;
            row-gap: 15px;
        }
        &:not(:last-child){
            margin-bottom: 20px;    
        }
    }
    &__item{
        position: relative;
        isolation: isolate;
        @include media(768){
            width: 100%;
        }
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(58, 208, 55, 0.42), rgba(58, 208, 55, 0.42));
            opacity: 0;
            visibility: hidden;
            transition: 200ms ease-out;
            z-index: -1;
        }
        &_sm{
            height: 243px;
            width: calc(33.333% - 10px);
            @include media(992){
                height: 180px;
            }
            @include media(768){
                height: 280px;
            }
        }
        &_bg{
            width: calc(50% - 10px);
            height: 344px;
            @include media(992){
                height: 250px;
            }
            @include media(768){
                height: 280px;
            }
        }
        &:hover{
            &::before{
                opacity: 1;
                visibility: visible;
            }
            .cases__item-link{
                opacity: 1;
                visibility: visible;
            }
        }
        &-header{
            background: $black;
            width: 100%;
            min-height: 64px;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 20px 40px;
            @include media(992){
                padding: 15px 30px;
            }
            p{
                font-size: 18px;
                line-height: 140%;
                color: #FFFFFF;
                @include media(992){
                    font-size: 14px;
                    line-height: 140%;
                }
            }
        }
        &-img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            object-fit: cover;
        }
        &-link{
            position: absolute;
            bottom: 22px;
            left: 34px;
            font-weight: bold;
            font-size: 20px;
            line-height: 140%;
            color: #FFFFFF;
            transition: 200ms ease-out;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            opacity: 0;
            visibility: hidden;
            svg{
                margin-left: 10px;
            }
        }
    }
}