// Футер
.footer{
    background: $black;
    padding: 50px 0;
    &__body{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__logo{
        margin-right: 28px;
        @include media(576){
            width: 86px;
            img{
                width: 100%;
            }
        }
    }
    &__link{
        font-size: 16px;
        line-height: 130%;
        text-decoration-line: underline;
        color: #FFFFFF;
        @include media(768){
            display: none;
        }
    }
    &__right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__social{
        margin-left: 23px;
        @include media(992){
            margin-left: 10px;
        }
    }
    &__tel{
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        color: #FFFFFF;
        margin-left: 36px;
        @include media(992){
            display: none;
        }
        &_lg{
            display: none;
            margin-left: 18px;
            @include media(992){
                display: block;
            }
        }
    }
}