.intro{
    background: url('../img/intro-bg.png') center / cover no-repeat;
    min-height: 822px;
    position: relative;
    color: $black;
    @include media(1250){
        min-height: max-content;
    }
    &::after{
        content: '';
        position: absolute;
        bottom: -220px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 472px;
        background: url('../img/clouds.png') left top / cover repeat-x;
        pointer-events: none;
    }
    &__body{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 165px;
        min-height: 822px;
        @include media(1250){
            padding-bottom: 80px;
            min-height: max-content;
        }
        @include media(992){
        }
        @include media(768){
            padding-top: 120px;
        }
    }
    &__img{
        margin-right: -173px; 
        @include media(1470){
            margin-right: 0;
            margin-left: -100px;
        }
        @include media(1230){
            display: none;
        }
    }
    &__content{
        z-index: 2;
        max-width: 768px;
    }
    &__info{
        box-shadow: 0px 4px 4px 0px #0000001A;
        border-radius: 15px;
        max-width: 360px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 30px;
        margin-bottom: 40px;
        background: #fff;
        @include media(768){
            display: none;
        }
        &-img{
            margin-right: 15px;
        }
        &-p{
            font-size: 16px;
            line-height: 130%;
            color: $black;
        }
    }
    &__title{
        font-weight: bold;
        font-size: 38px;
        line-height: 130%;
        margin-bottom: 7px;
        text-transform: uppercase;
        @include media(768){
            font-size: 30px;
        }
        @include media(576){
            font-size: 20px;
            line-height: 130%;
            margin-bottom: 11px;
            max-width: 441px;
        }
    }
    &__desc{
        font-size: 28px;
        line-height: 130%;
        margin-bottom: 23px;
        @include media(576){
            font-size: 18px;
            line-height: 130%;
            max-width: 320px;
            margin-bottom: 21px;
        }
        span{
            color: $primary;
            font-weight: 500;
        }
    }
    &__gift{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 24px;
        &-img{
            margin-right: 11px;
        }
        &-p{
            font-size: 20px;
            line-height: 130%;
            @include media(576){
                max-width: 124px;
                font-size: 12px;
                line-height: 130%;
            }
        }
    }
    &__btn{
        padding: 20px 42px;
        @include media(576){
            padding: 18px 25px;
            font-size: 14px;
            line-height: 13px;
            img{
                display: none;
            }
        }
        @include media(380){
            max-width: 100%;
            width: 100%;
        }
    }
}