mixin advantages()
    .advantages#advantages 
        .advantages__body.container 
            .advantages__item 
                p Не боясь даем на ремонт гарантию <b>до 5 лет</b>
            .advantages__item 
                p Ремонт будут делать <b>мастера с опытом 5 лет</b>
            .advantages__item 
                p Не берем аванс, <b>только поэтапная оплата</b>
            .advantages__item.lg  
                p Успешно завершили <b>765 объекта с 2014 года</b>