mixin cam()
    .cam    
        .cam__body.container 
            .cam__intro 
                .cam__intro-content
                    h2.cam__title Тотальный контроль каждого процесса
                    p.cam__p Работы проводятся по единым <b>евростандартам</b> и проходят проверку по <b>250 параметрам</b>, на бюджет ремонта влияет только объем работ. Мы отвечаем за все этапы ремонта квартиры.
                .cam__intro-img
                    img(src="@img/cam.png", alt="" draggable="false")
            .cam__row 
                .cam__item
                    .cam__item-img
                        img(src="@img/cam-1.png", alt="" draggable="false")
                    .cam__item-content 
                        p.cam__item-title Работаем по технологической карте
                        p.cam__item-p Каждый процесс описан в технологической карте, поэтому ремонт делается по четким стандартам и как результат Вы получаете ремонт, который Вы представляли
                .cam__item
                    .cam__item-img
                        img(src="@img/cam-2.png", alt="" draggable="false")
                    .cam__item-content 
                        p.cam__item-title Многосторонний контроль
                        p.cam__item-p Каждый этап контролируется: мастером, прорабом, отделом качества и лично Вами
                .cam__item
                    .cam__item-img
                        img(src="@img/cam-3.png", alt="" draggable="false")
                    .cam__item-content 
                        p.cam__item-title Ставим Вам камеры 24/7
                        p.cam__item-p С помощью системы видеонаблюдения Вы сможете удаленно наблюдать за процессом ремонта или посмотреть записи за 7 дней
            .cam__form 
                