mixin cases()
    .cases#cases 
        .cases__body.container 
            h2.cases__title Кейсы
            .cases__row
                .cases__item.cases__item_sm
                    .cases__item-header     
                        p Офисное помещение
                    .cases__item-content
                        img(src="@img/cases-1.png", alt="" draggable="false").cases__item-img
                        a(href="#!").cases__item-link Подробнее 
                            svg(width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 1L8 8L1 15" stroke="white" stroke-width="2")
                .cases__item.cases__item_sm
                    .cases__item-header     
                        p Офисное помещение
                    .cases__item-content
                        img(src="@img/cases-2.png", alt="" draggable="false").cases__item-img
                        a(href="#!").cases__item-link Подробнее 
                            svg(width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 1L8 8L1 15" stroke="white" stroke-width="2")
                .cases__item.cases__item_sm
                    .cases__item-header     
                        p Офисное помещение
                    .cases__item-content
                        img(src="@img/cases-3.png", alt="" draggable="false").cases__item-img
                        a(href="#!").cases__item-link Подробнее 
                            svg(width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 1L8 8L1 15" stroke="white" stroke-width="2")
            .cases__row
                .cases__item.cases__item_bg
                    .cases__item-header     
                        p Офисное помещение
                    .cases__item-content
                        img(src="@img/cases-4.png", alt="" draggable="false").cases__item-img
                        a(href="#!").cases__item-link Подробнее 
                            svg(width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 1L8 8L1 15" stroke="white" stroke-width="2")
                .cases__item.cases__item_bg
                    .cases__item-header     
                        p Офисное помещение
                    .cases__item-content
                        img(src="@img/cases-5.png", alt="" draggable="false").cases__item-img
                        a(href="#!").cases__item-link Подробнее 
                            svg(width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 1L8 8L1 15" stroke="white" stroke-width="2")
        



