mixin cert()
    .cert#cert 
        .cert__body.container 
            .cert__content 
                h2.cert__title Качество ремонта  складываевается из мелочей
                a(href="#!").cert__btn.btn Производим ремонт квартиры по евростандартам ISO, EN, DIN  
            .cert__img 
                img(src="@img/cert.png", alt="" draggable="false")