mixin choose()
    .choose 
        .choose__body.container     
            h2.choose__title Какой ремонт Вы планируете? 
            .choose__row 
                .choose__item
                    img(src="@img/choose-1.png", alt="" draggable="false").choose__item-img
                    .choose__item-content
                        div
                            p.choose__item-title КОСМЕТИЧЕСКИЙ 
                            p.choose__item-p Главный плюс такого ремонта - это быстрое выполнение и низкая стоимость. Производится замена видимых покрытий пола, стен и потолка с целью “освежить” квартиру.
                        a(href="#!").btn.choose__item-btn Выбрать 
                .choose__item
                    img(src="@img/choose-2.png", alt="" draggable="false").choose__item-img
                    .choose__item-content
                        div
                            p.choose__item-title ЧЕРНОВОЙ 
                            p.choose__item-p Ремонт с нуля, включает в себя все технические коммунакации (сантехника, электрика, отопление и прочие), перепланировка установка окон и входной двери, а также отделка пола, стен и потолка под чистовой ремонт.
                        a(href="#!").btn.choose__item-btn Выбрать 
                .choose__item
                    img(src="@img/choose-3.png", alt="" draggable="false").choose__item-img
                    .choose__item-content
                        div
                            p.choose__item-title КАПИТАЛЬНЫЙ 
                            p.choose__item-p Ремонт под ключ. Включает в себя полную черновую отделку ( перепланировка, технические коммуникации, окна, дверь, отделка пола, стен и потолка) и косметический ремонт (отделка чистовыми материалами). После такого ремонта можно сразу заезжать.
                        a(href="#!").btn.choose__item-btn Выбрать 
                .choose__item
                    img(src="@img/choose-4.png", alt="" draggable="false").choose__item-img
                    .choose__item-content
                        div
                            p.choose__item-title ДИЗАЙНЕРСКИЙ 
                            p.choose__item-p Или по-другому его называют “евроремонт”. Все работы производятся по европейским стандартам. Обязательно используются дизайнеские и технические проекты. Таком ремонт делается “под ключ”
                        a(href="#!").btn.choose__item-btn Выбрать 
            .choose__form 
                .choose__form-content
                    p.choose__form-title У вас есть вопросы? <br>Сложно разобраться в теме ремонта? 
                    p.choose__form-p Оставьте Ваш номер мессенджера или телефона - и мы ответим на все Ваши вопросы
                    form(action="#!").choose__form-form
                        input(type="tel" placeholder="+7 (---) --- -- --" required).input.choose__form-input
                        button(type="submit").btn.choose__form-btn По телефону в WhatsApp
                .choose__form-right 
                    img(src="@img/choose-form.png", alt="" draggable="false").choose__form-img
                    .choose__form-soc 
                        a(href="#!" target="_blank").choose__form-soc-item  
                            img(src="@img/telegram-2.png", alt="" draggable="false")
                        a(href="#!" target="_blank").choose__form-soc-item
                            img(src="@img/viber.png", alt="" draggable="false")  
