mixin design()
    .design     
        .design__body.container
            h2.design__title Дизайн интерьера - дело вкуса 
            p.design__p <b>Дизайн интерьера</b> - это не просто красивая картинка и визуализация Вашей квартиры, это еще <b>готовый технический проект и расчет материалов</b>, который позволит сделать именно тот ремонт, <b>который Вы планировали</b>
            img(src="@img/design.png", alt="" draggable="false").design__img 
            .design__row 
                .design__item
                    .design__item-num 01
                    p.design__item-p Подбираем цветовые решения и сочетания
                .design__item
                    .design__item-num 02
                    p.design__item-p Разрабатываем удобное размещение розеток и других коммуникаций
                .design__item
                    .design__item-num 03
                    p.design__item-p Проектируем функциональность расположения мебели
            .design__buttons 
                a(href="#!").btn.design__btn Заказать дизайн проект 
                a(href="#!").btn_secondary.design__btn Заказать консультацию дизайнера 