mixin form()
    .form#form 
        .form__body.container 
            h2.form__title Запишитесь на бесплатный замер
            .form__row 
                .form__item
                    .form__item-num 01
                    p.form__item-title Сделаем <span>точный</span> замер Вашей квартиры
                .form__item
                    .form__item-num 02
                    p.form__item-title Просчитаем конечную смету <span>без увеличения</span>
                .form__item
                    .form__item-num 03
                    p.form__item-title <span>Через 2-5 дней</span> предоставим технический, электромонтажный и сантехнический проект!
            .form__btn
                a(href="#!").btn Записаться 