mixin header()
    header.header 
        .header__body 
            nav.header__top.container 
                .header__left
                    a(href="index.html").header__logo
                        img(src="@img/logo.png", alt="") 
                    p.header__desc Профессиональный ремонт <br>квартир в Москве и области
                .header__right 
                    a(href="#!" target="_blank").header__social 
                        img(src="@img/whatsapp.png", alt="") 
                    a(href="#!" target="_blank").header__social 
                        img(src="@img/telegram.png", alt="") 
                    a(href="tel:+89299016646").header__tel 8 (929) 901-66-46
            nav.header__nav 
                ul.header__list.container 
                    li.header__li   
                        a(href="#!").header__link.active Главная 
                    li.header__li   
                        a(href="#!").header__link Качество ремонта
                    li.header__li   
                        a(href="#!").header__link Бесплатный замер
                    li.header__li   
                        a(href="#!").header__link Вопросы
                    li.header__li   
                        a(href="#!").header__link Договор
                    li.header__li   
                        a(href="#!").header__link Мастера
                    li.header__li   
                        a(href="#!").header__link Материалы
                    li.header__li   
                        a(href="#!").header__link Как начать
                    li.header__li   
                        a(href="#!").header__link Кейсы
            