mixin intro()
    .intro#intro 
        .intro__body.container 
            .intro__content 
                .intro__info 
                    img(src="@img/check.png", alt="" draggable="false").intro__info-img
                    p.intro__intro-p Успешно завершили<br><b>765 объекта с 2014 года</b>
                h1.intro__title Профессиональный ремонт квартир под ключ
                p.intro__desc Ответьте на <b>7 вопросов</b> и получите расчет стоимости вашего ремонта <span>онлайн</span>
                .intro__gift 
                    img(src="@img/gift.png", alt="").intro__gift-img
                    p.intro__gift-p <b>+ 1 из 4 ценных подарков</b> на выбор
                a(href="#!").btn.intro__btn 
                    img(src="@img/calc.png", alt="" draggable="false")
                    span Получить смету онлайн 
            .intro__img
                img(src="@img/intro-img.png", alt="" draggable="false")