mixin main()
    main.main 
        include intro 
        +intro 
        include advantages 
        +advantages 
        include start 
        +start 
        include cert 
        +cert 
        include works 
        +works 
        include cam 
        +cam 
        include form 
        +form 
        include design 
        +design 
        include choose 
        +choose 
        include promise 
        +promise 
        include rec 
        +rec 
        include contact
        +contact
        include steps
        +steps
        include cases 
        +cases 