mixin main()
    main.main 
        include intro 
        +intro 
        include advantages 
        +advantages 
        include start 
        +start 
        include cert 
        +cert 
        include works 
        +works 
        include cam 
        +cam 
        include form 
        +form 
        include cases 
        +cases 