mixin promise()
    .promise    
        .promise__body.container    
            .promise__content 
                h2.promise__title Все свои обещания <b>прописываем в договоре</b>
                .promise__item
                    img(src="@img/promise-1.png", alt="" draggable="false").promise__item-img
                    p.promise__item-title Предоставляем гарантию 5 лет
                    p.promise__item-p Подтверждаем свои обязательства на целостность ремонта в течение 60 месяцев
                .promise__item
                    img(src="@img/promise-2.png", alt="" draggable="false").promise__item-img
                    p.promise__item-title Соблюдаем сроки
                    p.promise__item-p Если нарушим - выплачиваем неустойку за просроченные дни
                .promise__item
                    img(src="@img/promise-3.png", alt="" draggable="false").promise__item-img
                    p.promise__item-title Соблюдаем стоимость
                    p.promise__item-p Одно из приложений договора - это смета. После детального просчета она не изменится.
                    p.promise__item-desc Работаем без аванса с поэтапной работой 
            .promise__right 
                .promise__info 
                    .promise__info-i 
                        <svg width="3" height="17" viewBox="0 0 3 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.802817 11.6329L0 0.850001V0H3V0.850001L2.21831 11.6329H0.802817ZM0.105634 17V13.6729H2.91549V17H0.105634Z" fill="white"/>
                        </svg>
                    p График работы прикрепляется к договору 
                button(type='button' onclick="openPopup('dogovor')").btn.promise__btn Скачать договор <span class="light">(0,1 МБ, PDF)</span>
                img(src="@img/promise.png", alt="" draggable="false")

