mixin rec()
    .rec 
        .rec__body.container 
            .rec__content 
                .rec__col
                    .rec__item 
                        img(src="@img/rec-1.png", alt="" draggable="false").rec__item-img
                        p.rec__item-p Все наши мастера - <b>граждане РФ и РБ</b>
                .rec__col
                    .rec__item 
                        img(src="@img/rec-4.png", alt="" draggable="false").rec__item-img
                        p.rec__item-p Минимальный опыт в любых отраслях - <b>5 лет</b>
                .rec__col
                    .rec__item 
                        img(src="@img/rec-2.png", alt="" draggable="false").rec__item-img
                        p.rec__item-p Внутри компании мы <b>ведем рейтинг мастеров</b>, согласно отзывам клиентов и прорабов
                .rec__col
                    .rec__item 
                        img(src="@img/rec-5.png", alt="" draggable="false").rec__item-img
                        p.rec__item-p Перед выходом на объекты - все <b>проходят экзамен</b> на нашем полигоне
                .rec__col
                    .rec__item 
                        img(src="@img/rec-3.png", alt="" draggable="false").rec__item-img
                        p.rec__item-p Мастера проходят <br><b>повышение квалификации</b> каждые 3 месяца
                .rec__col
                    .rec__item 
                        img(src="@img/rec-6.png", alt="" draggable="false").rec__item-img
                        p.rec__item-p Из <b>10</b> собеседований - <b>2</b> только попадают в команду