mixin start()
    .start#start
        .start__body.container 
            h2.start__title Боитесь начать ремонт?
            .start__row
                .start__item
                    p Возьмут деньги и “кинут”
                    .start__item-i 
                        svg(width="4" height="20" viewBox="0 0 4 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.07042 13.6857L0 1V0H4V1L2.95775 13.6857H1.07042ZM0.140845 20V16.0857H3.88732V20H0.140845Z" fill="#3AD037")
                .start__item
                    p Потечет вода
                    .start__item-i 
                        svg(width="4" height="20" viewBox="0 0 4 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.07042 13.6857L0 1V0H4V1L2.95775 13.6857H1.07042ZM0.140845 20V16.0857H3.88732V20H0.140845Z" fill="#3AD037")
                .start__item
                    p Поставят в “разнобой” розетки
                    .start__item-i 
                        svg(width="4" height="20" viewBox="0 0 4 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.07042 13.6857L0 1V0H4V1L2.95775 13.6857H1.07042ZM0.140845 20V16.0857H3.88732V20H0.140845Z" fill="#3AD037")
            .start__row 
                .start__item
                    p Накрутят цены на работы и материал
                    .start__item-i 
                        svg(width="4" height="20" viewBox="0 0 4 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.07042 13.6857L0 1V0H4V1L2.95775 13.6857H1.07042ZM0.140845 20V16.0857H3.88732V20H0.140845Z" fill="#3AD037")
                .start__item
                    p Вздуется ламинат
                    .start__item-i 
                        svg(width="4" height="20" viewBox="0 0 4 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.07042 13.6857L0 1V0H4V1L2.95775 13.6857H1.07042ZM0.140845 20V16.0857H3.88732V20H0.140845Z" fill="#3AD037")
                .start__item    
                    p Затянут все сроки
                    .start__item-i 
                        svg(width="4" height="20" viewBox="0 0 4 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.07042 13.6857L0 1V0H4V1L2.95775 13.6857H1.07042ZM0.140845 20V16.0857H3.88732V20H0.140845Z" fill="#3AD037")
            .start__row
                .start__item
                    p Сделают ненадежную электрику
                    .start__item-i 
                        svg(width="4" height="20" viewBox="0 0 4 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.07042 13.6857L0 1V0H4V1L2.95775 13.6857H1.07042ZM0.140845 20V16.0857H3.88732V20H0.140845Z" fill="#3AD037")
                .start__item
                    p Ничего не объяснят
                    .start__item-i 
                        svg(width="4" height="20" viewBox="0 0 4 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.07042 13.6857L0 1V0H4V1L2.95775 13.6857H1.07042ZM0.140845 20V16.0857H3.88732V20H0.140845Z" fill="#3AD037")
            .start__row
                .start__item
                    p Отвалится штукатурка
                    .start__item-i 
                        svg(width="4" height="20" viewBox="0 0 4 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.07042 13.6857L0 1V0H4V1L2.95775 13.6857H1.07042ZM0.140845 20V16.0857H3.88732V20H0.140845Z" fill="#3AD037")
                .start__item
                    p Криво положат плитку 
                    .start__item-i 
                        svg(width="4" height="20" viewBox="0 0 4 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.07042 13.6857L0 1V0H4V1L2.95775 13.6857H1.07042ZM0.140845 20V16.0857H3.88732V20H0.140845Z" fill="#3AD037")
            img(src="@img/man.png", alt="" draggable="false").start__img
            a(href="#!").btn.start__btn Узнайте , как сделать ремонт качественно, спокойно, без переплат и остаться довольным 
            a(href="#cert" title="scroll down").start__scroll 
                img(src="@img/scroll-down.png", alt="" draggable="false").start__scroll-img 