mixin works()
    .works#works
        .works__body.container 
            .works__title(data-zag="Черновые работы") 
                p Черновые работы
            .works__content 
                .works__item
                    img(src="@img/work-1.png", alt="" draggable="false").works__item-img
                    .works__item-content                    
                        p.works__item-title Выполняем черновую отделку с помощью механизированного оборудования.
                        p.works__item-p Это получается быстро, ровно и дешевле, чем вручную
                .works__item
                    img(src="@img/work-2.png", alt="" draggable="false").works__item-img
                    .works__item-content                    
                        p.works__item-title Делаем грамотную разводку электрики
                        p.works__item-p Подбираем нужно сечение кабеля под каждую точку 
                .works__item
                    img(src="@img/work-3.png", alt="" draggable="false").works__item-img
                    .works__item-content                    
                        p.works__item-title Высококачественная штукатурка стен
                        p.works__item-p Выровненные стены гарантия отсутствия зазора между деревянным плинтусом и стеной
            .works__title(data-zag="Чистовые работы") 
                p Чистовые работы
            .works__content 
                .works__item
                    img(src="@img/work-4.png", alt="" draggable="false").works__item-img
                    .works__item-content                    
                        p.works__item-title Устанавливает розетки, там где требуется
                        p.works__item-p Ровный монтаж на одинаковой высоте от пола везде
                .works__item
                    img(src="@img/work-5.png", alt="" draggable="false").works__item-img
                    .works__item-content                    
                        p.works__item-title Аккуратно укладываем плитку
                        p.works__item-p Ровные и аккуратные швы и точное совпадение рисунка на плитке. Укладываем плитку ровно под 45 градусов. 
                .works__item
                    img(src="@img/work-6.png", alt="" draggable="false").works__item-img
                    .works__item-content                    
                        p.works__item-title Надежные соединения всех коммуникаций
                        p.works__item-p Используем качественные материалы и технически грамотные соеднинения
            .works__row 
                .works__col 
                    img(src="@img/works-row-1.png", alt="" draggable="false")
                    p Только качественные материалы и расходники
                .works__col 
                    img(src="@img/works-row-2.png", alt="" draggable="false")
                    p Для создания качественного ремонта - каждый этап работ выполняют отдельные специалисты, а не мастер на все руки
                .works__col 
                    img(src="@img/works-row-3.png", alt="" draggable="false")
                    p Качество ремонта не зависит от бюджета