@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro-black.woff2") format("woff2"), url("../fonts/gothampro-black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro-black.woff2") format("woff2"), url("../fonts/gothampro-black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro-bold.woff2") format("woff2"), url("../fonts/gothampro-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro-light.woff2") format("woff2"), url("../fonts/gothampro-light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro-light.woff2") format("woff2"), url("../fonts/gothampro-light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro-medium.woff2") format("woff2"), url("../fonts/gothampro-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro-bold.woff2") format("woff2"), url("../fonts/gothampro-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro.woff2") format("woff2"), url("../fonts/gothampro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro.woff2") format("woff2"), url("../fonts/gothampro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro-medium.woff2") format("woff2"), url("../fonts/gothampro-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
